.click {
  cursor: pointer;
}

.looping {
  transition: all 0.3s ease;
  animation: loop 1.3s linear infinite;
}

.offline {
  pointer-events:none;
  opacity: 0.5 !important;
  cursor: not-allowed;
}

@keyframes loop {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}
