@import "@styles/colors";

// THEME COLORS
.app-color-accent { color: $app-color-accent; }
.app-color-primary { color: $app-color-primary; }
.app-color-warn { color: $app-color-warn; }

// ACTION COLORS
.app-color-success { color: $app-color-success; }
.app-color-info { color: $app-color-info; }
