<mat-toolbar>
  <a [routerLink]="['/']" routerLinkActive=""><h1> {{ 'app.title' | translate }} </h1></a>
  <span class="center-space"></span>
  <span *ngIf="(lang$ | async) as lang">
    <ng-container *ngIf="enabledLanguages.length > 1">
      <ng-container *ngFor="let enabledLanguage of enabledLanguages">
        <button mat-flat-button [color]="lang === enabledLanguage ? 'primary' : 'default'" (click)="lang === enabledLanguage ? false : setLanguage(enabledLanguage)">{{enabledLanguage}}</button>
      </ng-container>
    </ng-container>
  </span>
</mat-toolbar>
